.Button{
    width: 296px;
    height: 48px;
    font-size: 18px;
    line-height: 32pt;
    font-weight: 400;
    border-radius: 32px;
}

.blue-bg{
    background-color: #2B6BF3;
}

.yellow-bg{
    background-color: #FFDD2D;
}

.white-col{
    color: #FFF;
}
